
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e0e0e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #121212;
  padding: 1rem 3rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

.logo-text h1 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2px;
}

.logo-text p {
  font-size: 0.9rem;
  color: #00bfff;
  font-weight: 400;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.hero h1 {
  font-size: 2rem;
  color: #fff;
}

.hero p {
  color: #bbb;
  margin-top: 10px;
  font-size: 1rem;
}

.btn-primary {
  margin-top: 25px;
  background-color: #00bfff;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #009ad6;
}

.login-text {
  margin-top: 10px;
  font-size: 0.9rem;
}

.login-text a {
  color: #00bfff;
  text-decoration: none;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.feature-card {
  background: #1a1a1a;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  color: #777;
  border-top: 1px solid #222;
}
